{% extends 'base.html.twig' %}

{% block title "Créer un produit" %}

{% block body %}

<h1>Créer un nouveau Produit</h1>

{# {{ form(form) }} #}

{{ include('produit/form.html.twig', {'button_label': 'Ajouter'}) }}

{# <p>
{{ produit.description | nl2br }}
</p> #}
{# 
{{ form_start(form) }}
<div class="d-flex">
    {{ form_row(form.nom) }}
    {{ form_row(form.stock) }}
</div>
{{ form_rest(form) }}

{{ form_end(form) }} #}

{% endblock %}
